* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero-image {
  background-image: url("Image/DSC_0484.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 800px;
  display: flex;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  animation: fade-in-up 2000ms forwards;
  opacity: 0;
}

.hero-text p {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: #ffffff;
  animation: fade-in-up 2000ms forwards;
  animation-delay: 500ms;
  opacity: 0;
}

.hero-btn {
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  animation: fade-in-up 2000ms 1000ms forwards,
    change-color 4000ms 2000ms forwards;
  opacity: 0;
}

.hero-btn:hover {
  background: #000000;
  color: #ffffff;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes change-color {
  from {
    color: #000000;
  }
  to {
    color: #808000;
  }
}

.profile-image {
  width: 50%;
  height: 50%;
}
.city-image {
  width: 75%;
  height: 75%;
}
.detail-image {
  width: 50%;
  height: 50%;
}
.detail-grid-image {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #808000;
  background-color: #ffffff;
}
p {
  color: #000000;
}
li {
  color: #000000;
}
footer {
  color: #58181f;
}
body {
  background-color: #f2e5d9;
}

/* <!-- The following 34 lines of code was adapted from https://www.youtube.com/watch?v=rnhoY5Cdmy0 Accessed 2022-11-16 --> */
.image-grid {
  --gap: 20px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
  .hero-image {
    height: 500px;
  }
}
